:root {
    color-scheme: light dark;
}

body {
    width: 100px;
    padding: 10px;

    font-family: system-ui;
    text-align: center;
}

@media (prefers-color-scheme: dark) {
    /* Dark Mode styles go here. */
}

button {
  background-color: #0f91f3; /* Facebook-blue */
  border: none;
  color: white;
  padding: 10px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}

p {
    font-size: 0.9em;
}

.content-toggles {
    text-align: left;
    font-size: 1em;
    margin-bottom: 2em;
}


/******* HIDE IRRELEVANT TOGGLES *******/
/* iPhone */
@media only screen and (max-device-width: 480px) {
    .platform-ipad-mac {
        display: none;
    }
}


@media only screen and (min-device-width: 768px) {
    .platform-iphone {
        display: none;
    }
}
