/**************
** FACEBOOK **
**************/

/**** hide gaming link ****/
a[aria-label="Gaming"] {
    display: none !important;
}

/* the gaming link is number 3 */
div[aria-label="Facebook"] ul.thodolrn.ojvp67qx.taijpn5t.buofh1pr.j83agx80.aovydwv3.bqdfd6uv > li:nth-child(3) {
    display: none !important;
}

/*** feed ***/
#ssrb_feed_start + div { visibility: hidden; }

/*** stories ***/
/* desktop */
.x78zum5.x1q0g3np.xl56j7k.x1yztbdb.x1y1aw1k { display: none; }

/* mobile */
#screen-root div[data-mcomponent="MContainer"] > div[data-mcomponent="MContainer"]:has(div[aria-label*="story"]) {
    display: none;
}


/*** watch ***/
/* desktop */
a[aria-label^="Watch"] { display: none; }

/* mobile */
#screen-root div[data-mcomponent="MScreen"] div[data-mcomponent="MContainer"] div[data-mcomponent="MContainer"]:nth-child(2) div[role="button"]:nth-child(4) {
    display: none;
}

#screen-root div[data-mcomponent="MScreen"] div[data-mcomponent="MContainer"] div[data-mcomponent="MContainer"]:nth-child(2):has(div[role="button"]:nth-child(4)) {
    background-color: white !important;
    border-bottom: 2px solid #dadde1;
}

/*** sponsored ****/
a[aria-label="Advertiser"] {
    display: none;
}
div[role="complementary"] .q46jt4gp > div > span > div > .om3e55n1 .alzwoclg.cqf1kptm.siwo0mpr.gu5uzgus .jroqu855.nthtkgg5 > h3.jxuftiz4.jwegzro5.hl4rid49.icdlwmnq.gvxzyvdx.aeinzg81 {
    display: none;
}
div[role="complementary"] .q46jt4gp > div > span > div {
    height: 15px;
}
