/******** MENU BAR ********/

/**** hide gaming link ****/
a[aria-label="Gaming"] {
    display: none !important;
}

/* the gaming link is number 3 */
div[aria-label="Facebook"] ul.thodolrn.ojvp67qx.taijpn5t.buofh1pr.j83agx80.aovydwv3.bqdfd6uv > li:nth-child(3) {
    display: none !important;
}

/**** hide Watch link ****/
a[aria-label^="Watch"] {
    display: none;
}

/****** CENTRE OF FRONT PAGE ********/
/*** hide stories ***/
/* laptop */
div[data-pagelet="Stories"] {
    display: none;
}
/* mobile */
#MStoriesTray {
    display: none;
}


MStoriesTray

/* hide video chatting prompt */
div[data-pagelet="VideoChatHomeUnit"] {
    display: none;
}

/*** NEWSFEED ***/
/* hide newsfeed */
.pedkr2u6.tn0ko95a.pnx7fd3z div[role="feed"] {
    visibility: hidden;
}

/* MAKE SURE FEED IS STILL PRESENT ON GROUPS */
div[data-pagelet="GroupFeed"] div.feed {
    display: block;
}

/* hide newsfeed on iphone */
#m_news_feed_stream {
    display: none;
}


/****** RIGHT SIDE BAR ********/
/* hide sponsored content */
div[data-pagelet="RightRail"] > div > div > div.l9j0dhe7,
div[data-pagelet="RightRail"] > div > span > div > div.l9j0dhe7 {
    display: none !important;
}

/* hide chat side bar */
div[data-pagelet="RightRail"] div[data-visualcompletion="ignore-dynamic"] > div[class="l9j0dhe7"] {
    visibility: hidden;
}

