/******** MENU BAR ********/
/* hide watch link */
/*div[role="navigation"] > ul > li:nth-child(2),
div[role="navigation"] > ul > li:nth-child(5) {
    display: none !important;
}*/

/* hide gaming link */
a[aria-label="Gaming"],
a[aria-label="Watch"] {
    display: none !important;
}

/****** CENTRE OF FRONT PAGE ********/
/* hide stories */
div[aria-label="Stories"] {
    display: none;
}

/* hide video chatting prompt */
div[data-pagelet="VideoChatHomeUnit"] {
    display: none !important;
}

/* hide newsfeed */
.pedkr2u6.tn0ko95a.pnx7fd3z div[role="feed"] {
    visibility: hidden;
}

/****** RIGHT SIDE BAR ********/
/* hide sponsored content */
div[data-pagelet="RightRail"] > div > div > div.l9j0dhe7,
div[data-pagelet="RightRail"] > div > span > div > div.l9j0dhe7 {
    display: none !important;
}

/* hide chat side bar */
div[data-pagelet="RightRail"] div[data-visualcompletion="ignore-dynamic"] > div.l9j0dhe7 {
    display: none !important;
}

/******* MAKE SURE FEED IS STILL PRESENT ON GROUPS *******/
div[data-pagelet="GroupFeed"] div.feed {
    display: block;
}


/************** FOR OLD FACEBOOK LAYOUT ******************/
/* stories and newsfeed */
/*#stories_pagelet_below_composer,
div[aria-label="News Feed"] {
    visibility: hidden !important;
}*/

/* sponsored */
#pagelet_ego_pane {
    display: none !important;
}

/* footer */
#pagelet_rhc_footer {
    display: none !important;
}

/* chat side bar */
.fbChatSidebar {
    display: none !important;
}

/* hide posting prompt */
/*#pagelet_composer div[aria-label="Create a post"] {
    display: none !important;
}*/

